/* div{
  float: left;
  padding:120px ;
  margin-top:140px;
}
.one{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #3d8f2f;
  font-size: 70px;
  margin-left: 170px;
}
.two{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #bf134c;
  font-size:70px;
  margin-left: 20px;
}
.three{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #0d7365;
  font-size: 70px;
  margin-left: 20px;
} */
div{
  float: left;
  padding:120px ;
  margin-top:10%;

}
.one{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #3d8f2f;
  font-size: 70px;
  margin-left: 13%;
}
.two{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #bf134c;
  font-size:70px;
  margin-left: 1%;
}
.three{
  border-radius: 25px;
  width: 80px;
  height:80px;
  background-color: #0d7365;
  font-size: 70px;
  margin-left: 1%;
}
